@charset "UTF-8";

body{}
main{
    background-color: rgb(40, 40, 40);
    
}
header{
    border-style: solid;
    background-color: black;
}
h1{
    font-style: normal; color: red;
    padding-left: 20px;
}
h2{
    font-style: normal; color: red;
    border-style: solid;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    height: 40px;
}
#banner{
    border-style: solid;
    background-image: url(../Images/banner.png);
    background-size: 1220px auto;
    background-position-y: -60px;
    border-color: rgb(57, 57, 57);
    background-color: rgb(57, 57, 57);
    height: 250px;
    width: 1220px;
    margin-bottom: 10px;
}
#top{
    display: grid;
    grid-template-areas: "banner side";
    gap: 15px;
}
#bottom{
    display: grid;
    grid-template-columns: 37% 63%;
    gap: 15px;
}
#purchase{
    display: flex;
    border-style: solid;
    border-color: rgb(57, 57, 57);
    border-top-color: red;
    background-color: rgb(57, 57, 57);
    height: 400px;
    width: 550px;
    transform: translate(0px, -480px);
}
#psec{
    display: grid;
    grid-template-areas: 
    "h2"
    "one"
    "dvd";
    padding-left: 10px;
}
#psec2{
    display: grid;
    grid-template-areas: 
    "amazon"
    "price";
    margin-left: 100px;
    padding-left: 5px;
    
    
}
#one{
    font-style: normal; color: white;
    text-wrap: wrap;
}
#price{
    font-style: normal; color: white;
    font-size: 40px;
    padding-left: 5px;
    transform: translate(-10px, -100px);
}
#dvd{
    
}
#amazon{
    padding-left: 5px;
    transform: translate(-10px, -100px);
}
#pennant{
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: rgb(57, 57, 57);
    border-top-color: red;
    background-color: rgb(57, 57, 57);
    width: 633px;
    font-style: normal; color: white;
    padding-left: 15px;
    text-wrap: wrap;
    transform: translate(0px, -480px);
    
}
#two{

}
#side{
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: rgb(57, 57, 57);
    background-color: rgb(57, 57, 57);
    width: 250px;
    padding-left: 10px;
    align-items: center;
    padding-bottom: 20px;
}
#side img{
    padding-left: 20px;
}
#three{
    font-style: normal; color: white;
}
#four{
    font-style: normal; color: white;
}
#five{
    font-style: normal; color: white;
}
footer{
    border-style: solid;
    border-color: black;
    background-color: black;
    font-style: normal; color: white;
}
b{
    font-style: normal; color: red;
}