@charset "UTF-8";
@font-face {
    font-family: Waiting for the Sunrise;
    src: url(Fonts\WaitingfortheSunrise-Regular.ttf)
}
@font-face {
    font-family: Roboto;
    src: url(Fonts\Roboto-BoldItalic.ttf)
}
html{

}
body{
    background-color: white;
}
main{
    
}
header{
    
}
h1{
    border-style: solid; border-color: black;
    background: rgb(83,41,14);
    background: linear-gradient(90deg, rgba(83,41,14,1) 16%, rgba(144,238,144,1) 100%);
    text-align: center;
    font-family: Waiting for the Sunrise;
    
}
h2{
    font-family: Roboto;
}
div{
    
}
#nav{
    background: rgb(83,41,14);
    background: linear-gradient(90deg, rgba(83,41,14,1) 16%, rgba(144,238,144,1) 100%);
    height: 30px;
    border-style: solid;
    text-align: center;
    font-family: Roboto;
    align-content: center;
}
footer{
    
}
.hide{
    display:none;
}
.viewalways{
    display:contents
}
#Bio{
    border-style: solid;
    font-family: Waiting for the Sunrise;
    text-align: center;
}
#Ed{
    border-style: solid;
    padding-left: 10px;
    text-align: center; 
    list-style-position: inside;
    font-family: Waiting for the Sunrise;
}
#Hobbies{
    border-style: solid;
    padding-left: 10px;
    text-align: center;
    list-style-position: inside;
    font-family: Waiting for the Sunrise;
    
}
img{
    border-style: solid; border-color: lightgreen;
    
}
ol{
    text-align: left;
    padding-left: 700px;
}
ul{
    text-align: left;
    padding-left: 650px;
}
.navi{
    color: black;
    text-decoration: none;
    background-color: rgb(144, 238, 144);
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 2px solid rgb(144, 238, 144);
    border-right: 2px solid rgba(83, 41, 14, 0.798);
    border-bottom: 2px solid rgba(83, 41, 14, 0.798);
    border-left: 2px solid rgb(144, 238, 144);
}

a:visited{
    color: rgba(184, 84, 21, 0.798);
}

a:hover{
    text-decoration: underline;
    color:green
}

a:active{
    color: black;
}
p{
    text-align: left;
    padding-left: 10px;
}
